* {
  box-sizing: border-box;
}

/* Configs for the body */
html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  background: white;
  font-family: Verdana, Tahoma, Geneva, sans-serif !important;
}

.page-contents {
  min-height: calc(100vh - 128px);
}

.tagger-ui h2 {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 43px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}
